$MAIN_COLOR: #1e1e1e;

$PRIMARY_TEXT: rgba(0, 0, 0, 1);
$SECONDARY_TEXT: rgba(0, 0, 0, 0.6);
$LIGHT_TEXT: rgba(0, 0, 0, 0.4);
$ERROR_TEXT: #d82e23;

$BACKGROUND_COLOR: rgba(235, 235, 235, 1);
$DISABLED_COLOR: #f5f5f5;
$HOVER_COLOR: rgba(245, 245, 245, 1);
